
body
{
	background-color: #111111;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.row
    {
     padding-top: 50px;
      
    }

.container
{
   
}
.card
{
   margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
} 

#nav-bar
{
    position:sticky;
    top:0;
    z-index:10;
    
}
.navbar-brand
{
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;  
}

#nav-bar ul li a:hover
{
    
}

.nav-link
{
    
}
.page-footer
{
    background-color:#2E2E2E
}
.page-footer a
{
    color: aliceblue;
}
.footer-copyright
{
    color: aliceblue
}
.btn-outline-success {
    color:cadetblue;
    border-color:cadetblue;
}
