body
{
    min-height: 100%;
	background-color: #111111;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


a #hover
{
    text-decoration: none ;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.container
{
 padding-top: 50px;
}
    
.card
{
   margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
} 

#nav-bar
{
    position: sticky;
    top:0;
    z-index:10;
    
}
.navbar-brand
{
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;  
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.page-footer
{
    background-color:#2E2E2E;
}
.page-footer a
{
    color: aliceblue;
}
.footer-copyright
{
    color: aliceblue
}
.btn-outline-success
{
    color:cadetblue;
    border-color:cadetblue;
}
.card-img-top 
{
    height: 10rem; 
}